body {
    /* background-color: #ebd89c; */
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: none;
    border: none;
    margin: none;
}

.triangle-container {
    display: inline;
    height: 20px;
    top: 0;
}

.triangle-down {
    float: left;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid rgb(224, 191, 46);
}

.triangle-container2 {
    display:
        inline-table;
    height: 10px;
    top: 0px;
}

.triangle-down2 {
    margin-bottom: -30px;
    margin-left: -290px;
    float: left;
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #d8c62e;
}



body {
    height: 125vh;
    margin-top: 80px;
    /* padding: 30px; */
    /* background-size: cover; */
    font-family: sans-serif;
}

header {
    background-color: #edcb8c3b;
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    border-right: solid;
}

body {
    margin-left: 0px;
    height: 70vh;
    margin-top: 76px;
    /* padding: 30px; */
    /* background-size: cover; */
    font-family: sans-serif;
}

header {
    background-color: rgb(235, 119, 18);
    position: fixed;
    left: 0;
    right: 0;
    top: 46px;
    height: 30px;
    display: flex;
    align-items: center;
    /* box-shadow: 0 0 25px 0 black; */
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: grey;
    text-decoration: none;
}

.a {
    min-height: 300px;
    /* background-image: url(site-bg.png);
    background-position: center; */
    margin-top: -73px;
    margin-left: -39px;
}